################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Anytime.Mailbox.Shared.Navigation/bin
/Anytime.Mailbox.Shared.Navigation/obj
