@using Anytime.Phone.Extensions
@using Anytime.Phone.Setup

@{
    ViewData["Title"] = "Home Page";
}

@inject HostingHelpers _hostingHelpers;
@{
	var identityName = User.FindFirst("Name")?.Value ?? string.Empty;
	var names = (identityName ?? string.Empty)
				.Split(' ', StringSplitOptions.RemoveEmptyEntries)
				.Take(2)
				.ToArray();
	var email = User.Identity?.Name ?? string.Empty;
	var firstname = (names.ElementAtOrDefault(0) ?? string.Empty).CapitalizeFirstLetterOnly();
	var lastname = (names.ElementAtOrDefault(1) ?? string.Empty).CapitalizeFirstLetterOnly();
	var initials = string.Concat(names
		.Select(p => !string.IsNullOrEmpty(p) ? char.ToUpper(p[0]).ToString() : string.Empty)
	);

	var entra_sign_out_label = "Logout";
}

<div class="text-center">
    <h1 class="display-4">Anytime Phone</h1>
</div>


<p></p>
<p></p>


@if (User.Identity.Name is not null)
{
	<p>Name: @firstname @lastname</p>
	<p>Email: @email</p>
	<p>Initials: <b>@initials</b></p>
}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>